In [24]:
import ogr, osr
import gmaps
import gmaps.datasets
import os
import numpy as np

In [2]:
gmaps.configure(api_key=os.environ["GOOGLE_MAPS_API_KEY"])

# Read the station ids, lat, lon from the combined csv

In [3]:
import pandas as pd
df = pd.read_csv("../csv/usgs_gsvb_v2.csv")

In [4]:
df.head()

,usgs,site_no,date,tidal_high,tidal_low,precipitation_inches,lat,long
0,GSVB,33670001,2019-03-08,-6.791339,-6.725722,NaN,36.735303,-76.011602
1,GSVB,33670001,2019-03-19,-6.856955,-6.758530,NaN,36.735303,-76.011602
2,GSVB,33670001,2019-02-21,1.935696,2.132546,NaN,36.735303,-76.011602
3,GSVB,33670001,2019-03-11,-6.660105,-6.430446,NaN,36.735303,-76.011602
4,GSVB,33670001,2019-04-04,1.902887,2.066929,NaN,36.735303,-76.011602

## Dump the lat longs for the two station types

In [5]:
# The USGS stations
df.loc[df.usgs =='USGS'][['site_no','lat', 'long']].drop_duplicates()

        site_no        lat       long
851   204293125  36.841139 -76.057139
1077  204295505  36.859278 -75.984472
1311  204297575  36.824778 -75.985250
1540  204288721  36.827222 -76.165556
1764  204300267  36.679806 -75.984000
2745  204291317  36.843306 -76.124472
3025    2043155  36.788361 -76.070778
4098  204288539  36.711694 -76.268222
5192    2042928  36.815778 -76.060917

In [12]:
df1 = df.loc[df.usgs =='USGS'][['lat', 'long']].drop_duplicates()
df1_names = df.loc[df.usgs =='USGS'][['site_no']].drop_duplicates()

In [18]:
df1_names

        site_no
851   204293125
1077  204295505
1311  204297575
1540  204288721
1764  204300267
2745  204291317
3025    2043155
4098  204288539
5192    2042928

In [7]:
# The Greenstream Virginia Beach stations
df.loc[df.usgs =='GSVB'][['site_no','lat', 'long']].drop_duplicates()

      site_no        lat       long
0    33670001  36.735303 -76.011602
105  33670002  36.903520 -76.095700
210  33670003  36.852003 -76.288563
302  33670004  36.692700 -75.926380
407  33670005  36.731694 -75.984772
512  33670006  36.709480 -75.988400
604  33670007  36.581990 -76.039840
709  33670008  36.856380 -76.290740
746  33670009  36.721170 -76.033590

In [28]:
# The Greenstream Virginia Beach stations
df2 = df.loc[df.usgs =='GSVB'][['lat', 'long']].drop_duplicates()
df2_names = df.loc[df.usgs =='GSVB'][['site_no']].drop_duplicates()

In [9]:
# generate a list of tuples, from a dataframe
[tuple(x) for x in df2.values]

[(36.735303, -76.011602),
 (36.90352, -76.0957),
 (36.8520027, -76.28856309999999),
 (36.6927, -75.92638000000001),
 (36.731694, -75.98477199999999),
 (36.70948, -75.9884),
 (36.581990000000005, -76.03984),
 (36.85638, -76.29074),
 (36.72117, -76.03359)]

In [26]:
usgs_names = [np.array2string(x) for x in df1_names.values]
usgs_names

['[204293125]',
 '[204295505]',
 '[204297575]',
 '[204288721]',
 '[204300267]',
 '[204291317]',
 '[2043155]',
 '[204288539]',
 '[2042928]']

In [29]:
gsvb_names = [np.array2string(x) for x in df2_names.values]
gsvb_names

['[33670001]',
 '[33670002]',
 '[33670003]',
 '[33670004]',
 '[33670005]',
 '[33670006]',
 '[33670007]',
 '[33670008]',
 '[33670009]']

In [31]:
fig = gmaps.figure()

usgs_locations = [tuple(x) for x in df1.values]
gsvb_locations = [tuple(x) for x in df2.values]


#fig = gmaps.figure(center=(36.0, -76.0), zoom_level=20.0)


#fig = gmaps.figure(layout={
#        'width': '100px',
#        'height': '600px',
#        'padding': '3px',
#        'border': '1px solid black'
#})



# orig
#fig = gmaps.figure(layout={
#        'width': '400px',
#        'height': '600px',
#        'padding': '3px',
#        'border': '1px solid black'
#})



# give ablitly to turn on satelite
fig = gmaps.figure(map_type='HYBRID')

# show usgs stations as blue dots
usgs_stations_layer = gmaps.symbol_layer(
    usgs_locations, fill_color="blue", stroke_color="blue", scale=2,
    hover_text=usgs_names
)
# show GSVB stations as green dots
gsvb_stations_layer = gmaps.symbol_layer(
    gsvb_locations, fill_color="green", stroke_color="green", scale=2,
    hover_text=gsvb_names
)

fig = gmaps.figure()
fig.add_layer(usgs_stations_layer)
fig.add_layer(gsvb_stations_layer)


fig

Figure(layout=FigureLayout(height='420px'))