In [28]:
import ogr, osr
import gmaps
import gmaps.datasets
import os

In [29]:
gmaps.configure(api_key=os.environ["GOOGLE_MAPS_API_KEY"])

# Read the station ids, lat, lon from the combined csv

In [30]:
import pandas as pd
df = pd.read_csv("../csv/usgs_gsvb_v1.csv")

In [31]:
df.head()

,usgs,site_no,date_field,tidal_high,tidal_low,precipitation_inches,lat,long
0,USGS,2043155,2016-06-14,NaN,NaN,NaN,36.788361,-75.929222
1,USGS,2043155,2018-03-15,NaN,NaN,NaN,36.788361,-75.929222
2,USGS,2043155,2016-10-10,NaN,NaN,NaN,36.788361,-75.929222
3,USGS,2043155,2016-10-09,7.02,NaN,NaN,36.788361,-75.929222
4,USGS,2043155,2016-09-22,4.55,NaN,NaN,36.788361,-75.929222

## Dump the lat longs for the two station types

In [37]:
# The USGS stations
df.loc[df.usgs =='USGS'][['site_no','lat', 'long']].drop_duplicates()

        site_no        lat       long
0       2043155  36.788361 -75.929222
1073  204297575  36.824778 -74.014750
2156  204300267  36.679806 -74.016000
3233    2042928  36.815778 -75.939083
3626  204293125  36.841139 -75.942861
4702  204295505  36.859278 -74.015528
5782  204291317  36.843306 -75.875528
6855  204288721  36.827222 -75.834444
7930  204288539  36.711694 -75.731778

In [39]:
df1 = df.loc[df.usgs =='USGS'][['lat', 'long']].drop_duplicates()

In [40]:
# The Greenstream Virginia Beach stations
df.loc[df.usgs =='GSVB'][['site_no','lat', 'long']].drop_duplicates()

       site_no        lat       long
9024  33670001  36.735303 -76.011602
9129  33670002  36.903520 -76.095700
9234  33670003  36.852003 -76.288563
9326  33670004  36.692700 -75.926380
9431  33670005  36.731694 -75.984772
9536  33670006  36.709480 -75.988400
9628  33670007  36.581990 -76.039840
9733  33670008  36.856380 -76.290740
9770  33670009  36.721170 -76.033590

In [41]:
# The Greenstream Virginia Beach stations
df2 = df.loc[df.usgs =='GSVB'][['lat', 'long']].drop_duplicates()

In [42]:
# generate a list of tuples, from a dataframe
[tuple(x) for x in df2.values]

[(36.735303, -76.011602),
 (36.90352, -76.0957),
 (36.8520027, -76.28856309999999),
 (36.6927, -75.92638000000001),
 (36.731694, -75.98477199999999),
 (36.70948, -75.9884),
 (36.581990000000005, -76.03984),
 (36.85638, -76.29074),
 (36.72117, -76.03359)]

In [43]:
fig = gmaps.figure()

usgs_locations = [tuple(x) for x in df1.values]
gsvb_locations = [tuple(x) for x in df2.values]

fig = gmaps.figure(center=(36.0, -75.0), zoom_level=8)
fig = gmaps.figure(layout={
        'width': '400px',
        'height': '600px',
        'padding': '3px',
        'border': '1px solid black'
})
# give ablitly to turn on satelite
fig = gmaps.figure(map_type='HYBRID')

# show usgs stations as blue dots
usgs_stations_layer = gmaps.symbol_layer(
    usgs_locations, fill_color="blue", stroke_color="blue", scale=2
)
# show GSVB stations as green dots
gsvb_stations_layer = gmaps.symbol_layer(
    gsvb_locations, fill_color="green", stroke_color="green", scale=2
)

fig = gmaps.figure()
fig.add_layer(usgs_stations_layer)
fig.add_layer(gsvb_stations_layer)


fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
#omg the usgs ones are still messed up.